<h1>Add a new session</h1>
<div class="container">
<div class="span12"></div>
    <div class="span12">
            <label>Session Name</label>
            <input type="text" id="sessionName" ng-model="newSession.sessionName" />
    </div>
    <div class="span12">
            <label>Session Number</label>
            <input type="text" id="sessionNumber" ng-model="newSession.sessionNumber" />
    </div>    
    <div class="span12">
        <label>Day No</label>
        <input type="text" id="day" ng-model="newSession.day" />
    </div>       
    <div class="span12">
            <label>Speaker Name</label>
            <input type="text" id="sessionName" ng-model="newSession.speakerName" />
    </div>
    <div class="span12">
            <label>Session Summary</label>
            <textarea  ng-model="newSession.sessionSummary" id="sessionName" ng-model="newSession.sessionSummary"></textarea>
    </div>    
 
    <div class="span12">
        <label>Start Time (enter in 24 hour time, e.g. 14:30)</label>
        <input type="text" id="sessionName" ng-model="newSession.startTime" />
    </div>      
    <div class="span12">
            <label>End Time (enter in 24 hour time, e.g. 15:30)</label>
            <input type="text" id="sessionName" ng-model="newSession.endTime" />
    </div>      
    <div class="span12">
            <label>Active</label>
            <input type="text" id="activeStatus" ng-model="newSession.activeStatus" />
    </div>                          
    </div>      
    <div class="span12">
        <button ng-click="saveSession();">Save</button>
    </div>                 
</div>  