<div class="container">
	<div class="span8">
	<p>
		<span ct-content-container="div|text" model="sessionName" name="Title"></span>
        <br/>
        <span ct-content-container="div|text" model="sessionNumber" name="session number"></span>        
        <br/>        
        <span ct-content-container="div|text" model="day" name="day"></span>        
        <br/>
		<span ct-content-container="div|textarea" model="sessionSummary" name="Description"></span>
        <br />
        <span ct-content-container="div|text" model="speakerName" name="Speaker"></span>
        <br/>
        <span ct-content-container="div|text" model="startTime" name="Start Time"></span>
        <br/>
        <span ct-content-container="div|text" model="endTime" name="End Time"></span>                
        <br/>
        <span ct-content-container="div|text" model="activeStatus" name="Active"></span>                

	</p>	
    <p>

    </p>
	</div>
	<div class="span4">
		<!--<div ng-controller="CollectionCtrl" ng-view="collection.html"></div>-->
	</div>
</div>